<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>

<body>
	<form th:method="GET" th:action="@{/books/search}">
		<label for="search">Enter name:</label> 
		<input type="text" th:name="keyword" id="search" />
		
		<br />
		<input type="submit" value="Find" />
	</form>
	
	<div th:if="${books}">
		<div th:each="book : ${books}">
			<a th:href="@{/books/{id}(id=${book.getId()})}"
				th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</a>
			<div th:if="${book.getOwner()}">
				<a>Book taken by: </a>
				<a th:href="@{/people/{id}(id=${book.getOwner().getId()})}"
					th:text="${book.getOwner().getFio() + ', ' + book.getOwner().getYear()}">VALUE</a>
			</div>
			<div th:unless="${book.getOwner()}">
				<a>Book is free</a>
			</div>
			<br />
		</div>
	</div>
	<div th:if="${#lists.isEmpty(books)}">
		<a>Books not found</a>
	</div>
	
	<hr />
	<a th:href="@{/books}">Back to books list</a>
</body>
</html>
